.output{
    background-color: rgb(253, 250, 244);
    border: 2px solid rgba(226, 220, 209, 0.76);
    border-radius: 10px;
    margin-top: 25px;
}
.head{
    height: 40px;
    border-bottom: 2px solid rgba(226, 220, 209, 0.76);
    background-color: rgb(245, 243, 237);
    padding: 20px 15px;
    display: flex;
    align-items: center;

    .kanji{
       font-size: 2rem; 
    }

    .hiragana{
        flex:1;
        font-weight:500;
    }

    .meaning{
        flex:1.5;
        font-size: 2rem;
    }

    .type{
        flex-direction: column-reverse;
        font-weight: 400;
        font-size: 1.75rem;
        color: rgba(94, 61, 49, 0.853);
    }

}
.foot{
    height: 25px;
}

@media (max-width: 400px){
    .hiragana{
        line-height: 85%;
    }
}