*{
  font-family: 'Inter','Yu Gothic', 'YuGothic', 'Hiragino Kaku Gothic Pro', 'Noto Sans JP', Avenir, Helvetica, Arial, sans-serif;
  color: rgb(65, 34, 22);
}

.mainContent{
  /* background-color: aqua; */
  width: 600px;
  justify-self: center;
  transform-origin: top;
  transform: scale(1.25);
}