.formBox{
    border-bottom: 2px solid rgba(226, 220, 209, 0.76);
    display: flex;
    padding: 15px;
    align-items: center;

    .type{
        margin: 0;
        flex:1;
        font-size: 2rem;
        font-weight: bolder;
    }

    .word{
        margin: 0;
        font-size: 1.5rem;
        text-justify: center;
        font-weight: bold;
    }

    button{
        border: none;
        background: none;
        font-weight: bolder;
        font-size: xx-large;
        align-self: top;
        text-justify: center;
        margin-left: 6px;
        margin-top: 2px;
        color: rgba(53, 52, 50, 0.76);
    }
    button:hover{
        cursor: pointer;
        color: rgba(161, 158, 151, 0.76);
    }
}
.infoBoxShowing{
    border-bottom: 2px solid rgba(226, 220, 209, 0.76);
    padding: 15px 15px;
    background-color: white;
    max-height: 250px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.85s ease, opacity 0.5s ease, padding 0.5s ease;
    /* box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.26); */
}
.infoBoxHidden{
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.75s ease, opacity 0.5s ease, padding 0.5s ease;
    /* box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.26); */
}

.buttonUp{
    transition: transform 0.75s ease; /* Smooth animation */
    display: inline-block; /* Ensures transform applies properly */
}
.buttonDown{
    transition: transform 0.5s ease;
    transform: rotate(90deg); /* Rotates it to point down */
}