.inputBar{
    display: flex;

    input{
        flex: 1;
        height: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 2px 5px;
        border: 2px solid black;
        border-radius: 7px;
        margin-right: 10%;
    }

    button{
        flex-direction: column-reverse;
        width: 30%;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        background-color: #B06D66;
        border: none;
        border-radius: 7px;
    }
    button:hover{
        background-color: #d1867e;
        cursor: pointer;
    }
}

label{
    font-size: 1.75rem;
    font-weight: bold;
}